<ul class="nav nav-sidebar">
    <li class="active"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Overview</a></li>
    <li><a href="/account/my_surveys"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> My Surveys</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Analytics</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="/account/create_survey"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create A Survey</a></li>
</ul>