body
{
    background-color: #1b1b1b;
    padding-top: 40px;
}
.form-signin {
    max-width: 280px;
    padding: 15px;
    margin:100px;
    margin-top:70px;
  }
.panel-default {
opacity: 0.9;
/*margin-top:30px;*/
}
.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
/*
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
*/
.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://blog.transfer-iphone-recovery.com/images/photo-with-blur-background.jpg');
    background-repeat:repeat;*/
    background: #26558b; /* Old browsers */
    background: -moz-linear-gradient(top, #26558b 0%, #3a8bc2 49%, #3a8bc2 49%, #4bb8f0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #26558b 0%,#3a8bc2 49%,#3a8bc2 49%,#4bb8f0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #26558b 0%,#3a8bc2 49%,#3a8bc2 49%,#4bb8f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }